.header {
    grid-area: hd;
    background-color: #262525;
    color: white;
}
.footer {
    grid-area: ft;
    background-color: #262525;
    color: white;
    text-align: center;
}
.content {
    grid-area: main;
    background-color: #79D0CC;
}
.sidebar {
    grid-area: sd;
    background-color: #20B2AA;
}
.cuber {
    grid-area: cb;
    background-color: #262525;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd   hd   hd   hd   hd   cb"
        "sd sd sd main main main main main main"
        "ft ft ft ft   ft   ft   ft   ft   ft";

}


.profile{
    width: 200px;
    border-radius: 70%;
}

@keyframes spin {
    0%{ transform: rotate( 0deg);}
    100%{ transform: rotate( 360deg);}
}

.profile:hover{
    animation: spin 1s ;
}

.menu{
    position: sticky;
    top:0px;
}
.footMenu{
    list-style: none;

}
.footMenu>li{
    display: inline-block;
    font-size: 3em;
}
.footMenu>li>a{
    color: white;
}
.homeArrow{
    font-size: 5em;
    margin-right: 30px;
    margin-bottom: 30px;
    float: right;
    color: white;
}
.homeBtn{
    font-size: 5em;
    margin-left: 30px;
    margin-bottom: 30px;
    float: left;
    color: white;
}

.certificate>li{
    width: 300px;
    display: inline-block;
}
.certificate>li:hover{
    width: 330px;
}

.certificate>li>img{
    width: 100%;
}

.headline2{
    font-size: 40px;
}

iframe{
    width: 100%;
    height: 300px;
}
table{
    border: 1px solid #444444;
}
th{
    border: 1px solid #444444;
}
td{
    border: 1px solid #444444;
}

ol{
    list-style: upper-roman;
    padding-left: 33px;
}

ul{
    list-style: disc;
    padding-left: 20px;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}